.singleProductContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.productsContainer{
    display: grid;
    grid-template-columns: 3fr  1fr;
    padding: 20px;
    
}
.orderSummery{
    padding: 15px;
    text-align: center;
}